*{
    margin: 0;
    padding: 0;
}
body {
  padding: 150px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.btn{
    border: 1px dashed rgb(238, 144, 68);
    border-radius: 6px;
    cursor: pointer;
    background: rgb(238, 144, 68);
    padding: 8px 10px;
    display: inline-block;
    color: aliceblue;
    text-align: center;
}